<form action="/shortenURL" method="POST" class="mt-5">
  <div class="mb-3">
    <label for="initURL" class="form-label">URL</label>
    <input type="string" class="form-control" id="initURL" name="initURL" placeholder="input URL here"
      aria-describedby="">
  </div>
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>